*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

.side-bar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: rgb(24, 23, 23);
}
.side-bar header{
    font-size: 29px;
    color: white;
    line-height: 75px;
    text-align: center;
}

.side-bar a{
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 65px;
    line-height: 65px;
    padding-left: 35px;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(100, 96, 96);
    border-top: 1px solid rgb(100, 96, 96);
    border-left: 5px solid transparent;
    box-sizing: border-box;
}

a:hover, a.active{
    color: rgb(100, 96, 96);
    border-left: 5px solid rgb(100, 96, 96);
}